{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block header %}
<link rel = "stylesheet" href="{% static 'pages/about.css' %}">
<link rel = "stylesheet" href="{% static 'pages/Lstyle.css' %}">
{% endblock %}

{% block content %}
<div id="header" align="center">
     <h1>About Us!</h1>
     {% include 'pages/topbar.html' %}
</div>
<br>
<div class="paragraph">
     We are the IoT intrusion detection team for Steven's CS-347 course. Our group is focused on collecting data on several IoT devices
     such as the Amazon Alexa and testing with several different profiles. This website should have graphs displaying where intrusions occur
     and displaying normal behavior.
</div>
<br>
<img src = "{% static 'pages/CodeBlooded.jpeg' %}"  class = "image center">
</div>
{% endblock %}
