{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block header %}
<link rel = "stylesheet" href="{% static 'pages/home.css' %}">
{% endblock %}

{% block content %}
<div id = "header">
    <h2>Code Blooded Intrustion Detection <h2>
<div>

<div id = "topbar" >
    <div id = "navbar">
        <h4>Home </h4>
        <h4>Login </h4>
        <h4>About Us </h4>
    </div>
    <div id="user-profile">
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'account_logout' %}">logout</a></p>
        <img class="profile-pic" src="{{ user.profile.avatar_url }}" />
        {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">login</a>
        {% endif %}
    </div>
</div>
{% endblock %}

