{% extends 'dashboard/base.html' %}
{% load static account %}

{% block title %}Home{% endblock %}

{% block header %}
<link rel = "stylesheet" href="{% static 'pages/lstyle.css' %}">
<style>
  .image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  padding: 20px;
}

.device{
  display: flex;
  flex-direction: row;
  max-width: 500px;
}
.yellow {
  color:yellow;
}
</style>
{% endblock %}

{% block content %}
<div id = "header" align = "center">
    <div class="title">
        <h1>Code Blooded Intrusion Detection </h1>
        <div class="profile-container">
            <div class="username">
                Hi {% user_display user %}!
                <p><a href="{% url 'account_logout' %}">logout</a></p>
            </div>
            <div>
                {% if user.profile %}
                    {% if user.profile.has_profile_image %}
                        <img class="profile-pic" src="{{ user.profile.profile_image.url }}" />
                    {% elif user.profile.has_avatar_url %}
                        <img class="profile-pic" src="{{ user.profile.avatar_url }}" />
                    {% endif %}
                {% else %}
                    <img class="profile-pic" src="{% static 'pages/generic_user.png' %}" />
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'pages/topbar.html' %}
<div id = "paragraph" align="center">

    {% if data_files %}
      <h1>The following data captures made on your home network are available for viewing:</h1>
      <h4>(with the most recent uploads appearing first)</h4>
      <div class="center">
      <ol>
      {% for data_file in data_files %}
        <li><a href="{% url 'dashboard:datafile_detail' data_file_id=data_file.id %}"> From {{data_file.start_time|default:'Unknown'}} to {{data_file.end_time|default:'Unknown'}}</a></li>
      {% endfor %}
      </ol>
    </div>
    {% endif %}
    <div id="loginMessage"></div>
    <!-- Debug only, manually upload files through webpage with this
    <input type="file" id="fileUpload" />
    <input type="button" id="upload" value="Upload" onclick="Upload()" />
    <hr />-->


</div>
</div>

 {% endblock %}

